* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: #f4f4f4;
  color: #333;
  height: 100%;
  padding: 20px;
  background-image: url("imgs/code.jpg");
}

header {
  background: #333;
  color: #fff;
  padding: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: grey;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
  margin: 30px 0;
}

#grid-title {
  background: #333;
  color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  text-align: center;
}

.grid-item {
  background: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.intro {
  text-align: center;
  padding: 50px 20px;
  background: #e2e2e2;
  margin-bottom: 20px;
}

.intro-button {
  background: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
}

.content {
  padding: 15px 10px;
  background: #e2e2e2;
  margin-bottom: 20px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

form {
  margin-left: 20%;
}

form input {
  width: 80%;
  font-size: 18px;
  padding: 2px;
  margin: 4px;
  border-style: solid;
  border-color: black;
  border-radius: 4px;
}

#description {
  height: 80px;
}

#chart {
  width: 90%;
  border-style: solid;
  margin-left: 10%;
}

.list {
  border-bottom: solid 2px;
  padding-bottom: 5px;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px 0;
  background: #333;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;
}