$black: #333;
$white: #fff;
$body-background-color: #f4f4f4;
$body-background-image: url("imgs/code.jpg");
$body-text-color: #333;
$base-margin: 0;
$base-padding: 0;
$main-font-family: Arial, sans-serif;
$main-font-size: 18px;
$border-color: #fff;
$main-border: 2px solid $border-color;
$round-border: 4px;
$center-text: center;
$max-height: 100%;
$max-width: 100%;

@mixin topdown {
  background-color: $black;
  color: $white;
}

@mixin main-colors {
  background-color: $white;
  color: $black;
}

@mixin main-font {
  font-family: $main-font-family;
  font-size: $main-font-size;
}

@mixin main-round-border {
  border-style: $main-border;
  border-radius: $round-border;
}

@mixin body-markup {
  background-color: $body-background-color;
  background-image: $body-background-image;
  color: $body-text-color;
  @include main-font
}

* {
  margin: $base-margin;
  padding: $base-padding;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  line-height: 1.6;
  height: $max-height;
  padding: 20px;
  @include body-markup
}

header {
  padding: 10px 0;
  border: $main-border;
  border-radius: 4px 4px 0 0;
  text-align: $center-text;
  @include topdown;

  h1 {
    margin: $base-margin;
  }
}

nav ul {
  list-style: none;
  padding: $base-padding;

  li {
    display: inline;
    margin: 0 10px;

    a {
      color: $white;
      text-decoration: none;
      &:hover {
        background-color: grey;
      }
    }
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
  margin: 30px 0;
}

#grid-title {
  padding: 20px;
  width: $max-width;
  text-align: center;
  @include main-round-border;
  @include topdown;
}

.grid-item {
  background: #fff;
  padding: 10px;
  text-align: $center-text;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  @include main-round-border;
}

.intro {
  text-align: $center-text;
  padding: 50px 20px;
  background: $body-background-color;
  margin-bottom: 20px;
}

.intro-button {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: $round-border;
  @include topdown;
}

.content {
  padding: 15px 10px;
  background: $body-background-color;
  margin-bottom: 20px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

form {
  margin-left: 20%;

  input {
    width: 80%;
    font-size: $main-font-size;
    padding: 2px;
    margin: 4px;
    @include main-round-border;
  }
}

#description {
  height: 80px;
}

#chart {
  width: 90%;
  border-style: solid;
  margin-left: 10%;
}

.list {
  border-bottom: solid 2px;
  padding-bottom: 5px;
}

footer {
  margin-top: 20px;
  padding: 10px 0;
  bottom: 0;
  left: 0;
  width: $max-width;
  position: fixed;
  text-align: $center-text;
  @include topdown;
}